.e106_38 { 
	background-color:rgba(255, 255, 255, 1);
	width:1512px;
	height:982px;
	position:absolute;
}
.e106_39 { 
	background-color:rgba(174.00000482797623, 217.0000022649765, 180.00000447034836, 1);
	width:1432px;
	height:982px;
	position:absolute;
	left:40px;
	top:0px;
}
.e112_11 { 
	width:408px;
	height:612px;
	position:absolute;
	left:1064px;
	top:2px;
	background-image:url(images/descarga_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e106_41 { 
	color:rgba(118.00000056624413, 140.00000685453415, 96.00000187754631, 1);
	width:827px;
	height:41px;
	position:absolute;
	left:161px;
	top:12px;
	font-family:Itim;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e106_42 { 
	width:101px;
	height:101px;
	position:absolute;
	left:40px;
	top:0px;
	background-image:url(images/blue_watercolor_flower_sticker__blue_floral_sticker_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e106_43 { 
	color:rgba(63.7698957324028, 105.18749848008156, 22.352338582277298, 1);
	width:827px;
	height:116px;
	position:absolute;
	left:161px;
	top:93px;
	font-family:JejuGothic;
	text-align:justified;
	font-size:26px;
	letter-spacing:0;
}
.e106_44 { 
	color:rgba(63.7698957324028, 105.18749848008156, 22.352338582277298, 1);
	width:827px;
	height:73px;
	position:absolute;
	left:161px;
	top:446px;
	font-family:JejuGothic;
	text-align:justified;
	font-size:26px;
	letter-spacing:0;
}
.e106_45 { 
	color:rgba(255, 255, 255, 1);
	width:827px;
	height:32px;
	position:absolute;
	left:161px;
	top:233px;
	font-family:JejuGothic;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e106_46 { 
	color:rgba(255, 255, 255, 1);
	width:827px;
	height:32px;
	position:absolute;
	left:161px;
	top:285px;
	font-family:JejuGothic;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e106_47 { 
	color:rgba(255, 255, 255, 1);
	width:827px;
	height:32px;
	position:absolute;
	left:161px;
	top:337px;
	font-family:JejuGothic;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e106_48 { 
	color:rgba(255, 255, 255, 1);
	width:827px;
	height:32px;
	position:absolute;
	left:161px;
	top:389px;
	font-family:JejuGothic;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e118_7 { 
	width:461px;
	height:404px;
	position:absolute;
	left:161px;
	top:578px;
	background-image:url(images/group_4_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e118_9 { 
	width:461px;
	height:381px;
	position:absolute;
	left:758px;
	top:601px;
	background-image:url(images/group_5_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
