.e3_4 { 
	width:1512px;
	height:982px;
	position:absolute;
}
.e10_23 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(242.00000077486038, 244.0000006556511, 254.00000005960464, 1);
	width:614px;
	height:346px;
	position:absolute;
	left:132px;
	top:454.5px;
}
.e3_5 { 
	width:363px;
	height:330px;
	position:absolute;
	left:1149px;
	top:0px;
	background-image:url(images/dise_o_sin_t_tulo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_6 { 
	color:rgba(250.00000029802322, 249.00000035762787, 252.00000017881393, 1);
	width:360px;
	height:41px;
	position:absolute;
	left:5px;
	top:12px;
	font-family:Itim;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e6_13 { 
	color:rgba(250.00000029802322, 249.00000035762787, 252.00000017881393, 1);
	width:614px;
	height:49px;
	position:absolute;
	left:132px;
	top:124px;
	font-family:Itim;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e3_8 { 
	color:rgba(250.00000029802322, 249.00000035762787, 252.00000017881393, 1);
	width:234px;
	height:41px;
	position:absolute;
	left:385px;
	top:13px;
	font-family:Itim;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e3_9 { 
	color:rgba(250.00000029802322, 249.00000035762787, 252.00000017881393, 1);
	width:234px;
	height:41px;
	position:absolute;
	left:639px;
	top:14px;
	font-family:Itim;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e3_10 { 
	color:rgba(250.00000029802322, 249.00000035762787, 252.00000017881393, 1);
	width:234px;
	height:53px;
	position:absolute;
	left:894px;
	top:12px;
	font-family:Itim;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e3_7 { 
	color:rgba(243.00000071525574, 242.00000077486038, 243.00000071525574, 1);
	width:360px;
	height:52px;
	position:absolute;
	left:5px;
	top:53px;
	font-family:JejuGothic;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e6_14 { 
	color:rgba(243.00000071525574, 242.00000077486038, 243.00000071525574, 1);
	width:485px;
	height:73px;
	position:absolute;
	left:895px;
	top:190px;
	font-family:JejuGothic;
	text-align:justified;
	font-size:17px;
	letter-spacing:0;
}
.e13_27 { 
	position: absolute;
	width: 227px;
	height: 161px;
	left: 138px;
	top: 263px;
	background-image:url(images/CUERPOACUOSO\(ARRLLO\)\ {\ \(_temperatura_\)_\ 32;\ \(_grasas_\)_\ SST-112;\ \(_huevosHelmintos_\)_\ NA;\ \(_fecales_\)_\ ARROLLO-385;\ \(_PH_\)_\ 7;\ \(_UT_\)_\ 3;\ }.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e10_22 { 
	color:rgba(243.00000071525574, 242.00000077486038, 243.00000071525574, 1);
	width:360px;
	height:73px;
	position:absolute;
	left:259px;
	top:190px;
	font-family:JejuGothic;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e10_21 { 
	width:485px;
	height:569px;
	position:absolute;
	left:895px;
	top:330px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e10_25 { 
	background-color:rgba(249.6875050663948, 156.77185088396072, 84.26952213048935, 1);
	width:614px;
	height:68px;
	position:absolute;
	left:132px;
	top:831px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;

	color:rgba(250.00000029802322, 249.00000035762787, 252.00000017881393, 1);
	width:614px;
	height:49px;
	position:absolute;
	left:132px;
	top:840px;
	font-family:Itim;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}

.e13_28 { 
	width:46px;
	height:46px;
	position:absolute;
	left:339px;
	top:7px;
	background-image:url(images/blue_watercolor_flower_sticker__blue_floral_sticker_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
