.e114_12 { 
	background-color:rgba(255, 255, 255, 1);
	width:1512px;
	height:982px;
	position:absolute;
}
.e114_13 { 
	background-color:rgba(250.00000029802322, 239.00000095367432, 222.00000196695328, 1);
	width:1432px;
	height:982px;
	position:absolute;
	left:40px;
	top:0px;
}
.e114_15 { 
	color:rgba(224.18749898672104, 118.1992618739605, 35.496357679367065, 1);
	width:827px;
	height:41px;
	position:absolute;
	left:161px;
	top:12px;
	font-family:Itim;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e114_16 { 
	width:101px;
	height:101px;
	position:absolute;
	left:40px;
	top:0px;
	background-image:url(images/blue_watercolor_flower_sticker__blue_floral_sticker_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e114_17 { 
	color:rgba(232.68750607967377, 151.54390901327133, 88.22734415531158, 1);
	width:827px;
	height:116px;
	position:absolute;
	left:161px;
	top:93px;
	font-family:JejuGothic;
	text-align:justified;
	font-size:26px;
	letter-spacing:0;
}
.e114_18 { 
	color:rgba(232.68750607967377, 151.54390901327133, 88.22734415531158, 1);
	width:827px;
	height:73px;
	position:absolute;
	left:161px;
	top:484px;
	font-family:JejuGothic;
	text-align:justified;
	font-size:26px;
	letter-spacing:0;
}
.e114_19 { 
	color:rgba(91.37499645352364, 91.37499645352364, 91.37499645352364, 1);
	width:827px;
	height:32px;
	position:absolute;
	left:161px;
	top:233px;
	font-family:JejuGothic;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e114_20 { 
	color:rgba(91.37499645352364, 91.37499645352364, 91.37499645352364, 1);
	width:827px;
	height:32px;
	position:absolute;
	left:161px;
	top:285px;
	font-family:JejuGothic;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e114_21 { 
	color:rgba(91.37499645352364, 91.37499645352364, 91.37499645352364, 1);
	width:827px;
	height:32px;
	position:absolute;
	left:161px;
	top:337px;
	font-family:JejuGothic;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e114_22 { 
	color:rgba(91.37499645352364, 91.37499645352364, 91.37499645352364, 1);
	width:827px;
	height:32px;
	position:absolute;
	left:161px;
	top:389px;
	font-family:JejuGothic;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e114_31 { 
	color:rgba(91.37499645352364, 91.37499645352364, 91.37499645352364, 1);
	width:827px;
	height:32px;
	position:absolute;
	left:161px;
	top:431px;
	font-family:JejuGothic;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e119_11 { 
	width:470px;
	height:381px;
	position:absolute;
	left:769px;
	top:601px;
	background-image:url(images/group_6_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e119_13 { 
	width:461px;
	height:404px;
	position:absolute;
	left:161px;
	top:578px;
	background-image:url(images/group_7_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e114_39 { 
	width:346px;
	height:317px;
	position:absolute;
	left:1109px;
	top:0px;
	background-image:url(images/humaaans_wireframe.png);
	background-repeat:no-repeat;
	background-size:cover;
}
