.e102_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1512px;
	height:982px;
	position:absolute;
}
.e103_2 { 
	background-color:rgba(208.0000028014183, 231.00000143051147, 242.00000077486038, 1);
	width:1432px;
	height:982px;
	position:absolute;
	left:40px;
	top:0px;
}
.e104_14 { 
	width:343px;
	height:339px;
	position:absolute;
	left:1129px;
	top:0px;
	background-image:url(images/group_1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e104_15 { 
	color:rgba(70.00000342726707, 130.0000074505806, 180.00000447034836, 1);
	width:827px;
	height:41px;
	position:absolute;
	left:161px;
	top:12px;
	font-family:Itim;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e104_16 { 
	width:101px;
	height:101px;
	position:absolute;
	left:40px;
	top:0px;
	background-image:url(images/blue_watercolor_flower_sticker__blue_floral_sticker_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e104_17 { 
	color:rgba(18.115619122982025, 145.9338140487671, 197.62499392032623, 1);
	width:827px;
	height:73px;
	position:absolute;
	left:161px;
	top:109px;
	font-family:JejuGothic;
	text-align:justified;
	font-size:26px;
	letter-spacing:0;
}
.e105_22 { 
	color:rgba(18.115619122982025, 145.9338140487671, 197.62499392032623, 1);
	width:827px;
	height:73px;
	position:absolute;
	left:161px;
	top:446px;
	font-family:JejuGothic;
	text-align:justified;
	font-size:26px;
	letter-spacing:0;
}
.e105_18 { 
	color:rgba(36.00000165402889, 172.00000494718552, 227.00000166893005, 1);
	width:827px;
	height:32px;
	position:absolute;
	left:161px;
	top:220px;
	font-family:JejuGothic;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e105_19 { 
	color:rgba(36.00000165402889, 172.00000494718552, 227.00000166893005, 1);
	width:827px;
	height:32px;
	position:absolute;
	left:161px;
	top:272px;
	font-family:JejuGothic;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e105_20 { 
	color:rgba(36.00000165402889, 172.00000494718552, 227.00000166893005, 1);
	width:827px;
	height:32px;
	position:absolute;
	left:161px;
	top:324px;
	font-family:JejuGothic;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e105_21 { 
	color:rgba(36.00000165402889, 172.00000494718552, 227.00000166893005, 1);
	width:827px;
	height:32px;
	position:absolute;
	left:161px;
	top:376px;
	font-family:JejuGothic;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e116_3 { 
	width:461px;
	height:381px;
	position:absolute;
	left:766px;
	top:601px;
	background-image:url(images/group_2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_5 { 
	width:461px;
	height:404px;
	position:absolute;
	left:161px;
	top:578px;
	background-image:url(images/group_3_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
